html {
    user-select: none;
}

.thumb-vertical {
    background: white;
    opacity: 0.4;
    border-radius: 3px;
}

.background-image {
    position: absolute;
    background-position: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.background-color {
    background: radial-gradient(circle, rgb(20, 62, 91) 0%, rgba(17, 17, 17, 1) 100%);
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */
*:focus {
    outline: none;
}
